$shadow-start: 2px 2px 5px 3px rgba(87, 86, 86, 0.3);
$shadow-end: 2px 2px 5px 3px rgba(172, 94, 94, 0.3);
$gradiant-border: linear-gradient(45deg,  #5c1111f9, #715e5e,  #584040f9, #3b1818);
$subtitles: #f8ceb2;
.menu{
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  bottom: 1rem;
  button {
    width: 100%;
    background: rgb(31, 30, 30);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 100%;
    font-weight: bold;
    box-shadow: $shadow-start;
    transition: all 0.5s;
    position: relative;
    color: $subtitles;
    &:hover::before{
      content: "$shadow-end";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: $gradiant-border;
      background-size: 800%;
      border-radius: 1rem;
      filter: blur(8px);
      animation: glowing 10s linear infinite
    }
  }
}


@keyframes glowing {
  0%{
    background-position: 0 0;
  }
  50%{
    background-position: 400% 0,
  }
  100%{
    background-position: 0 0;
  }
}
