@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css");
// @use "../../../../assets/styles/theme-dark/colors.scss" as *;
// @use "../../../../assets/styles/theme-dark/animations/shadow-animation.scss";
// @use "../../../../assets/styles/theme-dark/animations/font-animation.scss";
// button {
//   position: fixed;
//   width: 4rem;
//   height: 4rem;
//   background: rgb(31, 30, 30);
//   padding: 0.2rem;
//   margin: 1rem;
//   border: none;
//   border-radius: 50%;
//   cursor: pointer;
//   box-shadow: $shadow-start;
//   transition: all 0.5s;
//   top: 2rem;
//   overflow: hidden;
//   &:hover::before{
//     content: "$shadow-end";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     z-index: -1;
//     background: $gradiant-border;
//     background-size: 800%;
//     border-radius: 1rem;
//     filter: blur(8px);
//     animation: glowing 10s linear infinite;
//   }
//   img{
//     width: 100%;
//     height: 100%;
//   }
// }

.social-icons {
  position: fixed;
  margin-left: 3rem;
  top: 4rem;
}
.btn-social {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border: none;
  border-radius: 50%;
  background-color: black;
  padding: 0.2rem;
  transition: all 0.4s;
  img {
    width: 100%;
    height: 100%;
  }
  .icon {
    background-color: black;
    color: white;
  }
  &:hover {
    scale: 0.7;
  }
}
.social-icons .navbar-nav li {
  overflow: hidden;
  border: none;
  background-color: black;
  position: absolute;
  overflow: hidden;
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  border-radius: 50%;
  padding: 0.3rem;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s all;
  .btn-social {
    width: 2rem;
    height: 2rem;
    transition: all 0.4s;
    &:hover {
      scale: 0.7;
    }
  }
}

.social-icons .navbar-nav.show li:nth-child(1) {
  top: -2.3rem;
  left: -2.3rem;
}
.social-icons .navbar-nav.show li:nth-child(2) {
  top: -2.3rem;
  left: 2.3rem;
}
.social-icons .navbar-nav.show li:nth-child(3) {
  top: 2.3rem;
  left: -2.3rem;
}
.social-icons .navbar-nav.show li:nth-child(4) {
  top: 2.3rem;
  left: 2.3rem;
}
