p {
  width: 90%;
  margin-top: 10rem;
  text-align: center;
}
.container {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5rem;
  margin-top: 2rem;
  overflow: hidden;
}
.subcontainer {
  width: 40%;
  height: 11rem;
}
img {
  width: 20rem;
  margin-top: 3%;
  margin-left: 2rem;
}

h1 h2 {
  width: 100%;
}

@media (min-width: 1300px) {
  .container {
    justify-content: space-around;
  }
  img {
    margin-left: 15%;
  }
  p {
    padding: 3rem;
  }
}
@media (max-width: 800px) {
  .container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: unset;
  }
  .subcontainer {
    width: 70%;
    height: 40vh;

  }
  img {
    width: 100%;
    margin-left: 20%;
  }
  p {
    width: 70%;
    padding: 2rem;
    margin-left: -2rem;
  }
  h1 h2 {
    width: 90%;
  }
  h2 h3 {
    text-align: left;
  }
}
