p {
  width: 90%;
  margin-top: 15rem;
  text-align: center;
  background-color: transparent;
}

.container {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2rem;
  margin-top: 2rem;
  overflow: hidden;

}

.subcontainer {
  width: 40%;
  height: 11rem;
  background-color: transparent;
}

img {
  width: 20rem;
  height: 25rem;
  margin-top: 1%;
  margin-left: 2rem;
}

h1 h2 h3 {
  width: 100%;
  background-color: transparent;
  margin-left: 3rem;
}

@media (min-width: 1300px) {
  .container {
    justify-content: space-around;
  }

  img {
    margin-left: 15%;
  }


  p {
    padding: 3rem;
  }
}
@media (max-height: 650px ) {
  img{
    height: 23rem;
  }
  p {
    margin-top: 12rem;
  }
}
@media (max-width: 800px) {
  .container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: unset;
  }

  .subcontainer {
    width: 80%;
    height: auto;

  }

  img {
    width: 100%;
    height: 100%;
    margin-left: 1%;
  }

  p {
    width: 70%;
    padding: 1rem;
    margin-top: 1rem;
  }

  h1 h2 {
    width: 90%;
  }

  h2 h3 {
    text-align: left;
  }
}
