<main class="container ">
  <div class="flex flex-column">
    <h1>Contact Me</h1>
    <p class="w-full">Get in touch with me via social media</p>
    <div class="flex flex-row flex-wrap">
      <ng-container *ngFor="let social of medialSocial" class="mt-8">
        <a [href]="social.url" *ngIf="social.enable" class="flex flex-row">
          <img [src]="social.img" [alt]="social.name" />
          <mat-label class="ml-3 mt-2">{{ social.name }}</mat-label>
        </a>
      </ng-container>
    </div>
  </div>
  <img src="assets/img/contact-image.png" alt="DevJhojan" class="img-me " />
</main>
