$background-color: #181818;
$titles: #cc1f1f;
$subtitles: #cc6520;
$text: #ffb26b;
$shadow-start: 2px 2px 5px 3px rgba(65, 21, 21, 0.459);
$shadow-mid: 2px 2px 10px 3px rgba(87, 87, 87, 0.3);
$shadow-end: 2px 2px 7px 5px rgb(97, 97, 97);
$shadow-image: 2px 2px 15px 2px rgba(179, 162, 107, 0.718);
$gradiant-border: linear-gradient(45deg,  #4e1c1cf9, #241818 , #4e3737, #1d1717);
