@use "./colors.scss" as *;
@use "./animations/shadow-animation.scss";
@use "./animations/font-animation.scss";
* {
  background-color: $background-color;
  color: $text;
  padding: auto;
}

h2,
h3,
h4 {
  padding: 1rem;
  width: 90%;
  color: $subtitles;
  animation: subtitle-animation 5s linear infinite;
  background: transparent;
  border-top: 0.2rem solid;
  border-bottom: 0.2rem solid;
  transition: all 0.5s;
  text-shadow: 1px 1px 3px #3d3d3d;
  text-align: center;
  &:hover {
    text-shadow: 0.1rem 1px 0.2rem;
  }
}
p {
  font-size: 150%;
  transition: all 0.2s;
  color: $text;
  font-style: oblique;
  text-shadow: 2px 3px 2px #070707;
  font-weight: 100;
  background: transparent;
  animation: text-position 30s linear infinite;
}
/*
img{
  border-radius: 0.5rem;
  transition: all 0.5s;
  box-shadow: $shadow-start;
  position: relative;
  padding: 0.5px;
  border-radius: 50%;
  background: $gradiant-border;
  background-size: 800%;
  animation: glowing 10s linear infinite;
  &:hover {
    box-shadow: $shadow-end;
  }
}
*/
div {
  background: transparent;
}

a{
  text-decoration: none;
  animation: text-position 60s linear infinite;
  background: transparent;
}

main {
  margin: auto;
  width: 90%;
  background: transparent;
}
article {
  padding: 2rem;
  font-size: 150%;
  border-radius: 2rem;
  box-shadow: $shadow-start;
  width: 90%;
  margin: auto;
  text-align: center;
  transition: all 0.5s ease;
  display: flex;
  background: transparent;
  flex-direction: row;
  &:hover {
    animation: shadow-animation 5s linear infinite  ;
  }
}

