<div>
  <div class="heading" (click)="slashConten()">
    <h1>{{ title }}</h1>
  </div>
  <div [@animate]="animationState" class="container">
    <div class="content" *ngIf="normal && state">
      <shared-cards-normals
        *ngFor="let card of cardsNomal"
        [cardNormal]="card"
      />
    </div>
    <div class="content" *ngIf="projects && state">
      <shared-cards-projects
        *ngFor="let cardProject of CardsProjects"
        [cardProjects]="cardProject"
      />
    </div>
    <div class="content" *ngIf="content && state">
      <article *ngFor="let cards of cardsContent">
        <div>
          <h3>{{ cards?.subTitle}}</h3>
          <ul>
            <li >{{ cards.description}}</li>
            <li >{{ cards.date }}</li>
          </ul>
        </div>
      </article>
    </div>
  </div>
</div>
