$shadow-start: 2px 2px 5px 3px rgba(87, 86, 86, 0.3);
nav {
  width: 98vw;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-left: 0.5vw;
  transition: 0.5s;
  &:hover{
    box-shadow: $shadow-start;
  }
  h1 {
    width: 90%;
    font-size: 150%;
    text-align: center;
    margin: 0;
    margin-left: 1%;
  }
  ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-left: 1%;
    li {
      background-color: transparent;
      list-style: none;
      width: 20%;
      margin: 0;
      a {
        margin: 0;
        font-size: 120%;
        text-decoration: none;
        transition: 0.5s;
        &:hover {
          border-radius: 1rem;
          padding: 1rem;
          box-shadow: $shadow-start;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  nav {
    width: 97vw;
    h1 {
      width: 80%;
    }
    ul {
      width: 80%;
      li {
        width: 30%;
      }
    }
  }
}

@media (max-width: 300px) {
  nav {
    width: 95vw;
    h1 {
      width: 80%;
    }
    ul {
      li {
        width: 100%;
      }
    }
  }
}
