$shadow-start: 2px 2px 5px 3px rgba(87, 86, 86, 0.3);
nav {
  margin: auto;
  width: 98vw;
  display: flex;
  border-radius: 1rem;
  flex-direction: column;
  margin-bottom: 2rem;
  transition:all 0.5s;
  &:hover {
    box-shadow: $shadow-start;
  }
  h1 {
    width: 90%;
    font-size: 150%;
    text-align: center;
    margin: 0;
    margin-left: 1%;
  }
  ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin-left: 1%;
    li {
      background-color: transparent;
      list-style: none;
      width: 20%;
      margin: 0;
      a {
        margin: 0;
        font-size: 120%;
        text-decoration: none;
        transition: all 0.5s;
        &:hover {
          border-radius: 1rem;
          padding: 1rem;
          font-size: 150%;
          box-shadow: $shadow-start;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  nav {
    width: 80vw;
    margin-left: 50%;
    margin-bottom: 2rem;
    h1 {
      width: 80%;
    }
    ul {
      width: 80%;
      li {
        width: 45%;
      }
    }
  }
}
@media (max-width: 450px) {
  nav {
    width: 85vw;
    margin-left: 0.5rem;
    padding: 1rem;
    ul {
      width: 80%;
      padding-top: 0;
      margin-top: 0.5rem;
      li {
        width: 45%;
        margin-top: 2rem;
      }
    }
  }
}

@media (max-width: 300px) {
  nav {
    width: 79vw;
    padding: 1rem;
    ul {
      width: 60%;
      padding-top: 0;
      margin-top: -1rem;
      li {
        width: 100%;
        margin-top: 2rem;
      }
    }
  }
}
