@import "./assets/styles/index.scss";
*{
  background-color: transparent;
}
app-root {
  width: 100%;
  height: 100%;
  app-main {
    display: flex;
    flex-direction: column;
    background: transparent;

  }
}
@media (max-width: 768px) {
  app-root {
    width: 90%;
    height: 100%;
    app-layout-programmer {
      display: flex;
      flex-direction: column;
      main {
        display: flex;
        border-radius: 1rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        transition: 0.5s;
        &:hover {
          box-shadow: var(--shadowStart);
        }
      }
    }
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
