@import "./assets/styles/theme-dark/index.scss";

app-root {
  width: 100%;
  height: 100%;
  app-layout-programmer {
    display: flex;
    flex-direction: column;
    sider-bar {
      width: 100vw;
    }
    main {
      display: flex;
      margin-left: 2rem;
      border-radius: 1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 85%;
      height: 100%;
      transition: 0.5s;
      &:hover{
        box-shadow: $shadow-start;
      }
    }
  }
}
