.wi-side {
  width: 18%;
}
.bg-black-super {
  width: auto;
  height: 99vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-menu {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}
img{
  cursor: pointer;
}
.img-repo{
  width: 2rem;
  position: absolute;
  top: 2%;
  left: 2%;
}
.content{
  overflow:  hidden scroll;
  scrollbar-width: none;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
footer_loop{
  position: fixed;
  width: 100%;
  bottom: 0;
}
@media (max-width: 800px) {
  .wi-side {
    width: 100%;
  }
  footer_loop{
    position: fixed;
    width: 15%;
    top: 1rem;
    right: 3rem;
    text-align: center;
    align-items: center;
  }
}
