.wi-side {
  width: 18%;
}
.bg-black-super {
  width: auto;
  height: 99vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-menu {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}
img{
  cursor: pointer;
}
.container{
  overflow:  hidden scroll;
  scrollbar-width: none;
}
mat-sidenav-content{
  background-image: url("../../assets/img/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (max-width: 800px) {
  .wi-side {
    width: 100%;
  }
}
